

.formContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.formField {
    margin-bottom: 20px!important;
    margin-top: 20px;
    
}

.submitButton {
    margin-top: 20px;
}